<div class="inicio-wrapper">
  <h1 class="text-center titulo mb-4">Proyecto Final Sistemas Operativos II</h1>

  <div class="inicio-content">
    <div class="inicio-imagen">
      <img src="assets/images/progra6.png" alt="Progra 6" class="img-fluid">
    </div>

    <div class="inicio-integrantes">
      <h4 class="integrantes-titulo">Integrantes</h4>
      <ul class="lista-integrantes">
        <li>Ricardo Allesandro Ruano Cermeño</li>
        <li>Javier Alejandro López Godoy</li>
        <li>Mario Rodolfo Sánchez Lima</li>
        <li>Melvin Alexander Pérez Alvizurez</li>
        <li>Anthony Josué Nájera del Cid</li>
        <li>Carlos Daniel Duarte Morales</li>
      </ul>
    </div>
  </div>
</div>
