<div class="container mt-4 mb-5">
  <div class="card shadow">
    <div class="card-header bg-dark text-white text-center">
      <h2 class="mb-0">Modificar Alumno</h2>
    </div>
    <div class="card-body">
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="id" class="form-label">ID del alumno:</label>
            <input [ngModel]="alumno.id" type="text" name="id" id="id" class="form-control" disabled placeholder="ID" required>
          </div>

          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre:</label>
            <input [(ngModel)]="alumno.nombre" type="text" name="nombre" id="nombre" #myFocus class="form-control" required>
          </div>

          <div class="col-md-6">
            <label for="apellido" class="form-label">Apellido:</label>
            <input [(ngModel)]="alumno.apellido" type="text" name="apellido" id="apellido" class="form-control" required>
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input [(ngModel)]="alumno.email" type="email" name="email" id="email" class="form-control" required
              pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$">
          </div>

          <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono:</label>
            <input [(ngModel)]="alumno.telefono" type="tel" name="telefono" id="telefono" class="form-control" required pattern="^[0-9]{8}$">
          </div>

          <div class="col-md-6">
            <label for="grado" class="form-label">Grado:</label>
            <input [(ngModel)]="alumno.grado" type="text" name="grado" id="grado" class="form-control" required>
          </div>

          <div class="col-md-6">
            <label for="seccion" class="form-label">Sección:</label>
            <input [(ngModel)]="alumno.seccion" type="text" name="seccion" id="seccion" class="form-control" required pattern="^[A-Z\s]{1}$">
          </div>

          <div class="col-md-2">
            <label for="edad" class="form-label">Edad:</label>
            <input [(ngModel)]="alumno.edad" type="number" name="edad" id="edad" class="form-control" required min="6" max="17">
          </div>

          <div class="col-md-4">
            <label for="cui" class="form-label">CUI:</label>
            <input [(ngModel)]="alumno.cui" type="text" name="cui" id="cui" class="form-control" required pattern="^[0-9]{13}$">
          </div>

          <div class="col-md-6">
            <label for="password" class="form-label">Contraseña:</label>
            <div class="input-group">
              <input [(ngModel)]="alumno.password" [type]="showPassword ? 'text' : 'password'" name="password" id="password"
                class="form-control" required minlength="6"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{6,100}$">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()" tabindex="-1">
                <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mt-4 text-center">
          <button (click)="editAlumno(alumno)" type="button" class="btn btn-success btn-sm hover-outline-warning me-2">Guardar</button>
          <button (click)="Cancel()" type="button" class="btn btn-danger btn-sm hover-outline-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
